@import "tailwindcss";

@keyframes fade-slide {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.03);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}
